<%- include('partials/header'); %>


<div class="container">

    <form action="/login" method="POST" class="login-form-1  login-container">
      <h3>Login Form</h3>

       <span class="error-msg" > <%= messages.error  %> </span>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Your Email "
          name="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Your Password"
          name="password"
        />
      </div>
    
      <button class="btnSubmit btn btn-info bt-lg" type="submit">Log in</button>
      
      <div class="form-group">
        <a href="#" class="btnForgetPwd">Forgot Password?</a>
      </div>
    </form>
         
</div>

<%- include("partials/footer"); %>